body {
	background-color: black;
	background-image: url("https://cdn.pixabay.com/photo/2014/09/03/14/29/elder-434643_960_720.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: white;
	text-align: center;
	font-family: "Times New Roman", Monospace;
}

a:link{
	color: red;
}
a:viseted{
	color: green;
}
a:hover{
	color: white;
}
a:active{
	color: blue;
}
