body {
	background-image: url("https://cdn.pixabay.com/photo/2014/09/03/14/29/elder-434643_960_720.jpg");
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	font-family: "Times New Roman", Monospace;
}

a:link{
	
}
a:viseted{
	
}
a:hover{
	
}
a:active{
	
}
